description "homeless-to-hearth application"

start on runlevel [2345]
stop on runlevel [016]


respawn
setuid nobody
setgid www-data

env SECRET_KEY='{{ SECRET_KEY }}'
env DATABASE_NAME='{{ DATABASE_NAME }}'
env DATABASE_HOST='{{ DATABASE_HOST }}'
env DATABASE_USER='{{ DATABASE_USER }}'
env DATABASE_PASSWORD='{{ DATABASE_PASSWORD }}'
env IAM_USER_SECRET_ACCESS_KEY='{{ IAM_USER_SECRET_ACCESS_KEY }}'
env IAM_USER_ACCESS_KEY_ID='{{ IAM_USER_ACCESS_KEY_ID }}'

chdir /home/ubuntu/homeless_to_hearth/searchlist

exec /usr/bin/gunicorn searchlist.wsgi:application
