[Unit]
Description=Hearth Application
After=network.target

[Service]
PIDFile=/run/hearth/pid
User=hearthadmin
Group=www-data

Environment=SECRET_KEY={{ secret_key }}
Environment=DEBUG={{ DEBUG }}
Environment=DATABASE_NAME={{ database_name }}
Environment=IAM_USER_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
Environment=IAM_USER_ACCESS_KEY_ID={{ aws_access_key_id }}
{% if environ == "live" %}
Environment=DATABASE_HOST={{ database_host }}
Environment=DATABASE_USER={{ database_user }}
Environment=DATABASE_PASSWORD={{ database_password }}
Environment=EMAIL_USER={{ APP_EMAIL_USER }}
Environment=EMAIL_PASSWORD={{ APP_EMAIL_PASSWORD }}
{% endif %}

WorkingDirectory={{ app_dir }}
ExecStart={{ app_user_home }}/env/bin/gunicorn --workers 3 \
          --log-syslog --bind 0.0.0.0:8000 searchlist.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
